@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

*::selection {
    background: var(--main-color);
    color: #fff;
}

:root {
    --main-color: #eb9ac0;
    --text-color: #1e1c2a;
    --bg-color: #fff;

    --big-font: 4rem;
    --h2-font: 2.24rem;
    --p-font: 0.9rem;
}

section {
    padding: 50px 10%;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 18px 100px;
    box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-color);
}


#menu-icon {
    display: none;
}
#mobile{
    display: none;
}
#user-icon{
    font-size: 1.5rem;
    cursor: pointer;  
    margin-left: 25px;
    
}


nav ul li a .fa-cart-shopping{
    font-size: 1.5rem;
    cursor: pointer;

}

.navbar nav ul {
    display: flex;
}

.navbar nav ul a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
    transition: all 300ms;
}

.navbar nav ul a:hover {
    color: var(--main-color);
}
/* Cart */
.cart{
    position: fixed;
    top: 0;
    /* right: 0; */
    right: -100%;
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: -2px solid 4px hsl(0 4%, 15% / 10%);
    border: 1px solid #d0d0d0;
    transition: 1.5s;

}
.cart.active{
    right: 0;
    transition: .5s;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: .5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    font-size: 24px;
    color: #1a1a1a;
    cursor: pointer;
    transition: 300ms ;
}
.cart-remove:hover{
    color: var(--main-color);
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: .5rem
}
.btn-buy{
    display: inline-block;
    margin: 1.5rem auto 0 auto;
    margin-left: 6.5rem;
    padding: 12px 20px;
    border: none;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 300ms ;
    border-radius: 0.5rem;
}
.btn-buy:hover{
    background-color: #f3aacb;
}
#cart-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 25px ;
    color: var(--text-color);
    cursor: pointer;
}
/* Home */

.home {
    width: 100%;
    min-height : 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;

}

.home-img img {
    width: 80%;
    border-radius: 50px;
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(--main-color);
}

.home-text h2 {
    font-size: var(--h2-font);
    margin: 1rem 0 1rem;
    color: var(--h2-font)
}

.btn {
    display: inline-block;
    background: var(--main-color);
    padding: 10px 20px;
    border-radius: 0.5rem;
    color: #fff;
    font-weight: 500;
    transition: background, color, 300ms;
    border: none;
}

.btn:hover {
    background: #f3aacb;
}

/* Reserva */

.form-reservation {
    display: flex;
    justify-content: center;
}

.form-reservation input {
    width: 175px;
    padding: 10px 20px;
    margin: 0px 10px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.heading {
    text-align: center;
    padding-bottom: 30px;
}

.heading h2 {
    font-size: var(--h2-font);
}

.heading span {
    color: var(--main-color);
    font-weight: 500;
}

.heading h3{
    font-size: 25px;
    margin-top: 50px;
}
/* Servicios */
#section-p1{
    padding: 40px 80px;
}
.service{
    text-align: center;
}
.service .product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
    margin-bottom: 40px;
}

.pro{
    width: 300px;
    position: relative;
    padding: 10px 12px;
    border: 1px solid #ebecf0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease
}
.pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.product-container .pro img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.product-container .pro .product-content{
    text-align: start;
    padding: 10px 0;
}
.pro .product-content .product-name{
    color: #1a1a1a;
    font-size: 18px;
}

.pro .product-content .product-price{
    padding-top: 7px;
    font-weight: 700;
    font-size: 15px;
    color: #eb9ac0;
}

.pro .cart-icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background: #ffdbf2;
    color: #eb9ac0;
    border: 1px solid #ebecf0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
}
/* Quienes somos */

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
}

.about-img img{
    max-width: 90%;
    border-radius: 0.5rem;
}

.about-text span{
    color: var(--main-color);
    font-weight: 500;
}

.about-text h2{
    font-size: var(--h2-font);
}

.about-text p{
    margin: 0.8rem 0 1.8rem
}

/* Contactos */

.connect{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.connect-text span{
    color: var(--main-color);
    font-weight: 500;
}

.connect-text h2{
    font-size: var(--h2-font);
}


/*Footer*/

.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
    
}

.contact-box h3{
    margin-bottom: 1rem;
}

.social{
    display: flex;
    margin-top: 1.5rem;
}

.social i{
    font-size: 20px;
    margin-right: 1rem;
    color: var(--text-color);
}

.social i:hover{
    color: var(--main-color);
}

.contact-box li a {
    color: var(--text-color);
}
.contact-box li a:hover{
    color: var(--main-color);
}

.address{
    display: flex;
    flex-direction: column ;
}

.address i {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.address span{
    margin-left: 1rem;
}

/* Copyright */

.copyright{
    padding: 20px;
    text-align: center;
}

.copyright p {
    color: #7a7a7a;
}

/* Responsive */

@media (max-width: 921px){
    header{
        padding: 14px 41px;
    }
    :root{
        --big-font: 3rem;
        --h2-font: 1.7rem;
        }
    #menu-icon{
     display: block; 
     cursor: pointer;
     font-size: 24px;
     }

     #mobile{
        display: block;
        cursor: pointer;
        font-size: 24px;
        margin-left: 130px;
     }
     #mobile i{
        padding: 5px;
        color: #1a1a1a;

     }
     
.navbar{
    height: 0px;
    position: absolute;
    right: 20px;
    top: 70px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
    transition: all 300ms;

}

.navbar nav ul{
    padding: 20px 0px;
    flex-direction: column;
    background: #fff;
}

.navbar nav ul li {
    padding: 10px 40px;
}

.mostrar_menu{
    height: 255px;
}


}

@media (max-width: 768px){
    section {
        padding: 50px 8%;
    }
}

@media (max-wdith: 715px){
    header{
        padding: 10px 16px;
    }
    .home{
        grid-template-columns: 1fr;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img {
        order: 2; 
    }
}
@media (max-width: 515px){
    .connect {
        flex-direction: column;
    }
    .connect .btn {
        margin-top: 1rem;
    }
}
@media (max-widht: 450px){
    :root{
        --big-font: 2rem;
        --h2-font: 1.4rem;
        }
        .home-text {
            padding-top: 4rem;
        }
}